@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.sweep-head {
  width: 100vw;
  height: 100vh;
  /* background: #ffffffea; */
}

.sweep {
  position: absolute;
  top: 40%;
  left: 40%;
  height: 100%;
  width: 100%;
}
.sweep::after {
  content: 'Loading...';
  position: absolute;
  top: 40%;
  left: 40%;
  height: 100%;
  width: 100%;
}
.sweep-head.sweep--hide {
  opacity: 0;
  display: none;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  /* background: rgb(4, 43, 4); */
  background: #079d98;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  /* background: red; */
}

.space {
  height: 200px;
  width: 100vw;
}
